[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
wikiextractor = "*"
gensim = "*"
scikit-learn = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.7"
python_full_version = "3.7.16"
